name: auto creation pr
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  auto-creation-pr:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.BOT_GITHUB_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - name: Date
        id: date
        run: |
          DATE=`date +%Y-%m-%d-%H-%M-%S`
          echo "date=${DATE}" >> $GITHUB_OUTPUT
      - name: Edit
        run: echo ${{ steps.date.outputs.date }} >> test.txt
      - name: Create PR
        env:
          GH_USER_EMAIL: 126062861+otakakot[bot]@users.noreply.github.com
          GH_USER_NAME: otakakot[bot]
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          git branch feature/${{ steps.date.outputs.date }}
          git switch feature/${{ steps.date.outputs.date }}
          git config --global user.email ${{ env.GH_USER_EMAIL }}
          git config --global user.name ${{ env.GH_USER_NAME }}
          git add test.txt
          git commit -m "auto commit"
          git push --set-upstream origin feature/${{ steps.date.outputs.date }}
          gh pr create --title "auto creation pr" --body "auto creation pr" --base main --head feature/${{ steps.date.outputs.date }}
