name: create tag
run-name: ${{ github.ref_name }} by @${{ github.actor }} at ${{ github.workflow }}
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      creatable: ${{ steps.check-diff.outputs.creatable }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Required to get tags 
      - name: Check diff
        id: check-diff
        run: |
          latest_tag=$(git tag | sort -r | sed -n '1p')
          echo "${latest_tag}"
          latest_commit=$(git rev-parse HEAD)
          echo "${latest_commit}"
          diff=$(git diff --name-only ${latest_tag} ${latest_commit} | wc -l)
          if [[ ${diff} -eq 0 ]]; then
            echo "creatable=false" >> $GITHUB_OUTPUT
          else
            echo "creatable=true" >> $GITHUB_OUTPUT
          fi
  tag:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: check
    if: needs.check.outputs.creatable == 'true'
    steps:
      - name: Create tag
        id: create-tag
        run: |
          TAG=`date +%Y-%m-%d-%H-%M-%S`
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.BOT_GITHUB_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - name: Push tag
        run: |
          git tag ${{ steps.create-tag.outputs.tag }}
          git push origin ${{ steps.create-tag.outputs.tag }}
