name: cron enable
run-name: ${{ github.ref_name }} by @${{ github.actor }} at ${{ github.workflow }}
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  enable:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.BOT_GITHUB_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - name: Enable
        env:
          GH_USER_EMAIL: 126062861+otakakot[bot]@users.noreply.github.com
          GH_USER_NAME: otakakot[bot]
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          ./script/enable.sh ./.github/workflows/cron.yaml
          diff=$(git diff ./.github/workflows/cron.yaml)
          if [[ -n "${diff}" ]]; then
            git config --global user.email ${{ env.GH_USER_EMAIL }}
            git config --global user.name ${{ env.GH_USER_NAME }}
            git add ./.github/workflows/cron.yaml
            git commit -m "enable"
            git push
          fi
