name: dispatch
run-name: ${{ github.ref_name }} by @${{ github.actor }} at ${{ github.workflow }}
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  dispatch:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.BOT_GITHUB_APP_PRIVATE_KEY }}
          owner: otakakot
          repositories: sample-resource
      - name: Dispatch
        uses: otakakot/repository-dispatch@422187e9484186164a2bd574cf4997aff203533d # v1.0.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: otakakot/sample-resource
          event-type: ref
          client-payload: '{"ref": "pre-release-2024-03-17-1"}'
