name: go version
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
on:
  pull_request:
    paths:
      - .github/workflows/go.version.yaml
defaults:
  run:
    shell: bash
jobs:
  version:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: core/go.mod
          check-latest: true
      - name: Go version
        run: |
            GO_VERSION=$(go version | awk '{print $3}' | cut -c 3-)
            echo "${GO_VERSION}"
            echo "${GOVERSION}"
