name: go version
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
on:
  pull_request:
    paths:
      - .github/workflows/go.version.yaml
defaults:
  run:
    shell: bash
jobs:
  version:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: core/go.mod
          check-latest: true
      - name: Go version
        run: |
            GO_VERSION=$(go version | awk '{print $3}' | cut -c 3-)
            echo "${GO_VERSION}"
            echo "${GOVERSION}"
