name: golangci-lint
run-name: ${{ github.ref_name }} by @${{ github.actor }} at ${{ github.workflow }}
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.BOT_GITHUB_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - name: Golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --allow-parallel-runners
      - name: Golangci-lint Version
        if: failure()
        env:
            GH_USER_EMAIL: 126062861+otakakot[bot]@users.noreply.github.com
            GH_USER_NAME: otakakot[bot]
            GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          version=$(golangci-lint --version | awk '{print $4}')
          echo ${version} > .golangci.version
          git branch feature/golangci-lint-v${version}
          git switch feature/golangci-lint-v${version}
          git config --global user.email ${{ env.GH_USER_EMAIL }}
          git config --global user.name ${{ env.GH_USER_NAME }}
          git add .golangci.version
          git commit -m "update golangci-lint version to v${version}"
          git push --set-upstream origin feature/golangci-lint-v${version}
          gh pr create --title "Update golangci-lint version" --body "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}" --base main --head feature/golangci-lint-v${version}
