name: job trigger
run-name: ${{ github.ref_name }} by @${{ github.actor }} at ${{ github.workflow }}
on:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  trigger:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Trigger
        run: echo "trigger"
      - name: Check
        run: |
          count=1
          while [[ true ]] ; do
            if [[ ${count} -gt 3 ]]; then
              echo "timeout"
              exit 1
            fi
            count=$((count + 1))
            sleep 60
          done
          echo "done"
