name: schedule cron
run-name: ${{ github.ref_name }} by @${{ github.actor }} at ${{ github.workflow }}
on:
  workflow_dispatch:
  # schedule:
    # - cron: '0 0 * * *'
    # - cron: '0 1 * * *'
    # - cron: '0 2 * * *'
    # - cron: '0 3 * * *'
    # - cron: '0 4 * * *'
    # - cron: '0 5 * * *'
    # - cron: '0 6 * * *'
    # - cron: '0 7 * * *'
    # - cron: '0 8 * * *'
    # - cron: '0 9 * * *'
    # - cron: '0 10 * * *'
    # - cron: '0 11 * * *'
    # - cron: '0 12 * * *'
    # - cron: '0 13 * * *'
    # - cron: '0 14 * * *'
    # - cron: '0 15 * * *'
    # - cron: '0 16 * * *'
    # - cron: '0 17 * * *'
    # - cron: '0 18 * * *'
    # - cron: '0 19 * * *'
    # - cron: '0 20 * * *'
    # - cron: '0 21 * * *'
    # - cron: '0 22 * * *'
    # - cron: '0 23 * * *'
jobs:
  schedule_cron:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check day
        run: |
          day=$(LANG=ja_JP.UTF-8 date +%a)
          if grep -q "${day}" ./release.txt; then
            echo "今日はリリース日です"
          else
            echo "今日はリリース日ではありません"
          fi
